html{
  scroll-behavior:smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #222;
}

header {
    background: #0d1b2a;
    color: white;
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero{

  height:100vh;

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  text-align:center;

  padding:0 10%;

  background:
  linear-gradient(
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)
  ),
  url('background.png');

  background-size:cover;

  background-position:center;

  background-repeat:no-repeat;

}

.hero h2 {

  font-size: 4rem !important;

  color: white !important;

  font-weight: 700;

  text-shadow:
    0 0 15px rgba(0,0,0,0.9),
    0 0 30px rgba(0,0,0,0.9);

  margin-bottom: 25px;

}




.hero p {

  color: white;

  font-size: 1.3rem;

  font-weight: 400;

  text-shadow:
    0 0 8px rgba(0,0,0,0.9);

  max-width: 900px;

  line-height: 1.8;

}

.hero button {
    padding: 12px 25px;
    border: none;
    background: #00b4d8;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

section {
    padding: 60px 10%;
}

h2 {
    color: #0d1b2a;
}

.project-btn{
  display:inline-block;
  margin-top:20px;
  padding:10px 20px;
  background:#38bdf8;
  color:white;
  text-decoration:none;
  border-radius:8px;
  transition:0.3s;
}

.project-btn:hover{
  background:#0ea5e9;
  transform:translateY(-3px);
}

